.process-order {
  text-align: center;
  border-bottom: 1px solid lightgrey;
}

.admin-orders a:link, .admin-orders a:visited {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 5px;
  margin: 5px 8px;
  text-decoration: none;
}

.accept:link, .accept:visited {
  border: 1px solid darkgreen;
  color: darkgreen;
}

.accept:hover, .accept:active {
  color: white;
  background: darkgreen;
}

.decline:link, .decline:visited {
  border: 1px solid darkred;
  color: darkred;
}

.decline:hover, .decline:active {
  color: white;
  background: darkred;
}

.complete:link, .complete:visited {
  color: darkblue;
  border: 1px solid darkblue;
}

.complete:hover, .complete:active {
  color: white;
  background: darkblue;
}

.details:link, .details:visited {
  color: darkblue;
  border: 1px solid darkblue;
}

.details:hover, .details:active {
  color: white;
  background: darkblue;
}

.confirm-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
}

.confirm-box-content {
    width: 40%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    margin: 1px solid black;
    padding: 10px;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .confirm-box-content {
        width: 80%;
    }
}
  
@media only screen and (max-width: 600px) {
    .confirm-box-content {
        width: 100%;
    }
}

.yes, .no {
    color: white;
    cursor: pointer;
    padding: 8px;
}

.yes {
    background: green;
    border: none;
}

.no {
    background: red;
    border: none;
}

.yes:focus, .yes:hover {
    background: darkgreen;
}

.no:focus, .no:hover {
    background: darkred;
}

.confirm-box-content {
    text-align: center;
}
