* {
  box-sizing: border-box;
}

.form-title {
  display: block;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  color: darkblue;
}

.footnote {
  display: block;
  text-align: center;
  font-size: small;
  padding-top: 10px;
  color: darkblue;
}

.footnote > a:link, .footnote > a:visited {
  text-decoration: none;
  display: inline-block;
  padding: 3px;
  color: darkblue;
  border-radius: 0;
  border: 1px solid darkblue;
}

.footnote > a:hover, .footnote > a:active {
  background: darkblue;
  color: white;
}

form {
  width: 40%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 13px 15px;
  box-shadow: 0 2px 30px lightgrey;
  border-radius: 7px;
  background: white;
  color: darkblue;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 7px;
  color: darkblue;
}

input:focus {
  box-shadow: 0 0 8px lightblue;
}

input[type=submit], .add-to-list {
  color: white;
  font-size: 1.25em;
  background: darkblue;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background: blue;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  form {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 100%;
  }
}
